html, body, ul, li, h1, title, label {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  margin: 20px;
  text-align: center;
}

label {
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
  display: block;
}

label.button {
  width: 100px;
  border: 5px solid black;
}

label.button:hover {
  background: yellow;
}

ul {
  border: 10px solid black;
  width: 300px;
  height: 300px;
  margin: auto;

}

li {
  float: left;
  width: 90px;
  height: 90px;
  border: 5px solid black;
}

li:hover {
  background: yellow;
}

li.x:after {
  display: block;
  content: "X";
  font-size: 90px;
  text-align: center;
}

li.o:after {
  display: block;
  content: "O";
  font-size: 90px;
  text-align: center;
}