<h1>TicTacToe</h1>

<label class="button" id="reset">Reset</label>

<ul class="board">
  <li id='0'></li>
  <li id='1'></li>
  <li id='2'></li>
  <li id='3'></li>
  <li id='4'></li>
  <li id='5'></li>
  <li id='6'></li>
  <li id='7'></li>
  <li id='8'></li>
</ul>

<label id="resultLabel"></label>
